@page
@model StormEyeWeb.Pages.Catastrofes.CreateModel
@{
    ViewData["Title"] = "Nova Catástrofe";
}
<h1>Nova Catástrofe</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Catastrofe.NomeCatastrofeM"></label>
        <input asp-for="Catastrofe.NomeCatastrofeM" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Catastrofe.SintomaCatastrofeM"></label>
        <input asp-for="Catastrofe.SintomaCatastrofeM" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Catastrofe.AtivoM"></label>
        <input asp-for="Catastrofe.AtivoM" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-page="Index" class="btn btn-secondary">Voltar</a>
</form>
