@page
@model StormEyeWeb.Pages.Cartilhas.CreateModel
@{
    ViewData["Title"] = "Nova Cartilha";
}

<h1>Nova Cartilha</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Cartilha.Nome"></label>
        <input asp-for="Cartilha.Nome" class="form-control" />
        <span asp-validation-for="Cartilha.Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cartilha.Descricao"></label>
        <input asp-for="Cartilha.Descricao" class="form-control" />
        <span asp-validation-for="Cartilha.Descricao" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="Cartilha.Ativo" class="form-check-input" type="checkbox" />
        <label asp-for="Cartilha.Ativo" class="form-check-label"></label>
    </div>

    <div class="form-group">
        <label asp-for="Cartilha.IdCatastrofeM">Catástrofe Relacionada</label>
        <select asp-for="Cartilha.IdCatastrofeM" asp-items="Model.Catastrofes" class="form-control">
            <option value="">Selecione</option>
        </select>
        <span asp-validation-for="Cartilha.IdCatastrofeM" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-page="Index" class="btn btn-secondary">Voltar</a>
</form>
