@page
@model StormEyeWeb.Pages.Cartilhas.IndexModel
@{
    ViewData["Title"] = "Cartilhas";
}

<h1>Cartilhas</h1>

<a asp-page="Create" class="btn btn-primary mb-2">Nova Cartilha</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ativo</th>
            <th>Catástrofe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartilha in Model.Cartilhas)
        {
            <tr>
                <td>@cartilha.Nome</td>
                <td>@cartilha.Descricao</td>
                <td>@(cartilha.Ativo ? "Sim" : "Não")</td>
                <td>@cartilha.Catastrofe?.NomeCatastrofeM</td>
            </tr>
        }
    </tbody>
</table>
